.header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.title{
  font-size: 24px;
}

.todo-box-and-button{
  display: flex;
  flex-direction: row;
}

.completed{
  text-decoration: line-through;
}